<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Achievements | AV Math Team</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    
    {% include 'navbar.html' %}

    <div class="page-content">
        <h1 id="header">Past Competitions & Scores</h1>
        <div class="achievements-page-container">
            <div class="achievements-container">
                <ul>
                    <li>
                        <a href="https://www.stanfordmathtournament.com/" target="_blank">
                        SMT
                        </a>
                        <p id="score">- 7th place overall in 2024</p>
                    </li>
                    <li>
                        <a href="https://berkeley.mt/" target="_blank">
                        BMT
                        </a>
                    </li>
                    <li>
                        <a href="https://www.bamo.org/" target="_blank">
                        BAMO
                        </a>
                        <p id="score">- 1st place school in the Bay Area in 2023</p>
                    </li>
                    <li>
                        <h3 id="competition">40+ AIME qualifiers over the last few years</h3>
                    </li>
                    <li>
                        <h3 id="competition">3 USAMO + 1 USAJMO qualifier in 2023</h3>
                    </li>
                </ul>
            </div>
            <div class="achievements-images-container">
                <img id="bamo-logo" src="/static/bamo.png" alt="Bay Area Math Olympiad Logo">
                <img id="medal" src="/static/1st_place_medal.png" alt="1st place medal">
            </div>
        </div>
    </div>
    
    {% include 'contact.html' %}

</body>

</html>