<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    
    <footer>
        <div class="footer-container">
            <ul>
                <li>
                    <a class="email" href="mailto:amadorvalleymathteam@gmail.com">
                        <i class='bx bx-envelope' alt="Email icon"></i>
                        amadorvalleymathteam@gmail.com
                    </a>
                </li>
                <li>
                    <a class="discord" href="https://discord.gg/X85YXS3C" target="_blank">
                        <i class='bx bxl-discord-alt' alt="Discord logo"></i>
                    </a>
                </li>
                <li>
                    Join Our
                    <a class="mailing-list" href="https://forms.gle/hkL33ppQPopXVcnF7" target="_blank">
                        Mailing List</a>
                    To Get Club Updates
                </li>
            </ul>
        </div>
    </footer>

</body>

</html>