<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Events | AV Math Team</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    
    {% include 'navbar.html' %}

    <div class="page-content">

        <h1 id="header">Our Events</h1>

        <div class="events-container">

            <div class="event">
                <a href="https://alphastar.academy/amc-10-12-info-and-preparation/" target="_blank">
                    AMC 10/12
                </a>
                <ul>
                    <li>Held in early November anually</li>
                    <li>Also known as the American Mathematics Competition</li>
                </ul>
            </div>

            <div class="event">
                <a href="#">
                    AMT
                </a>
            </div>

            <div class="event">
                <a href="#">
                    Geobee
                </a>
                <br>
                <a id="archives" href="https://avmathteam.weebly.com/archives.html" target="_blank">
                    (Archives)
                </a>
                <ul>
                    <li>We host and write problems for the annual PUSD Geometry Bee in April/May.</li>
                    <li>The Geometry Bee is a fun contest for 8th graders taking Honors Geometry, where they can apply the concepts they’ve learned in class to solve challenging problems.</li>
                    <li>The test has 10 problems, and it's meant to be solved within one class period (30 minutes).</li>
                </ul>
            </div>

            <div class="event">
                <a href="https://berkeley.mt" target="_blank">
                    BMT
                </a>
                <ul>
                    <li>Hosted by UC Berkeley in early November</li>
                    <li>Each year, we send three teams to the Berkeley Math Tournament.</li>
                </ul>
            </div>

            <div class="event">
                <a href="https://www.stanfordmathtournament.com/" target="_blank">
                    SMT
                </a>
                <ul>
                    <li>Standford Math Tournament is pretty restrictive so we can only send 1-2 teams to the competition.</li>
                    <li>More information will be provided through the mailing list/discord as the competition nears.</li>
                </ul>
            </div>

        </div>

    </div>
    
    {% include 'contact.html' %}

</body>

</html>