<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AV Math Team</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    
    {% include 'navbar.html' %}

    <!-- IF MAKING AN ABOUT SECTION, PUT AN IMAGE ON LEFT SIDE AND TEXT ON RIGHT SIDE -->

    <div class="home-container">
        <div class="welcome">
            <h3>
                Welcome to Amador Valley High School's math team, where you do math beyond the limits of the classroom!
            </h3>
        </div>
    </div>
    
    {% include 'contact.html' %}

</body>

</html>