<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AV Math Team</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    
    {% include 'navbar.html' %}

    <!-- IF MAKING AN ABOUT SECTION, PUT AN IMAGE ON LEFT SIDE AND TEXT ON RIGHT SIDE -->

    <div class="page-content">
        <h1 id="header" style="margin-bottom: 10px;">AVHS Math Team</h1>
        <h2>About</h2>
    </div>
    
    {% include 'contact.html' %}

</body>

</html>