<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Officers | AV Math Team</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    
    {% include 'navbar.html' %}

    <div class="page-content">
        <h1 id="header">Our Team of Officers</h1>
        <div class="officers-container">
            <ul>
                <li>
                    <img src="/static/Co_Pres_1.png" alt="Photo of Kailua Cheng">
                    <h3 id="officer-title">Co-President - Kailua Cheng</h3>
                    <p>
                    Hi! I’m Kailua and I’m a junior at AVHS. I really like doing (olympiad) geometry, and am an anti-fan of combinatorics. I’ve been a part of AV Math Team since freshman year; I’ve attended many college tournaments with Amador, and helped host the AMCs for two years. Individually, I’m a two-time USAJMO honorable mention, and I’ve been invited to Math Prize for Girls several times. In my free time, I like doing puzzles and legos, as well as playing with my super cute little sister. Hope to see you at meetings, where you can often find me yapping about fun math topics (and/or puzzles)!
                    </p>
                </li>
                <li>
                    <img src="/static/Co_Pres_2.png" alt="Photo of Rohan Garg">
                    <h3 id="officer-title">Co-President - Rohan Garg</h3>
                    <p>
                    Hi, I’m Rohan, a junior at AVHS. I’ve been doing math for over 4 years now, and my favorite subject is number theory and algebra comes a close second. I have been a part of the AV Math Team since freshman year and attended BMT and SMT with them. Individually, I’m a USAMO Bronze medalist and AMC perfect scorer. In my free time, I enjoy playing card games, coding, wasting time on various social media platforms, and learning cool science.
                    </p>
                </li>
                <li>
                    <img src="/static/Officer.png" alt="Photo of Daniel">
                    <h3 id="officer-title">Officer - Daniel</h3>
                    <p>
                    Hi, I’m Daniel, and I’m currently a junior. I have been doing competitive math since 6th grade, and some of my accomplishments include a 144 on AMC10, a 9 on AIME, Distinguished Honorable Mentions in Berkeley Math Tournament's Algebra and Geometry Rounds, and making tie breakers at Stanford Math Tournament's Algebra round. Outside of math, I am a USAPhO qualifier. I’m looking forward to seeing you at meetings!
                    </p>
                </li>
                <li>
                    <img src="/static/Secretary.png" alt="Photo of Ryan Fu">
                    <h3 id="officer-title">Secretary - Ryan Fu</h3>
                    <p>
                    Ryan is a junior. He has been doing competitive math since 6th grade, and some of his accomplishments include a 150 on the AMC10, and honorable mention in BAMO. In his free time, he does physics, lectures at his old middle school, and competes in USACO Platinum. In his free time, Ryan enjoys playing tennis, playing gacha games, and representing Amador at collegiate math competitions.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    
    {% include 'contact.html' %}

</body>

</html>